@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

:root{
    --preto: #1F2421;
    --verde: #08A045;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #1F2421, #375e37);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.226);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 10px;
    letter-spacing: 3px;
}

